<div class="mainDiv">
    <!-- <div>
      <h3>Want to start calling</h3>
      <button class="btn btn-primary" routerLink="makeCall">Make a call</button>
    </div>
    <div>
      <h3>Have a calling ID</h3>
      <button class="btn btn-primary" routerLink="joinCall">Join a call</button>
    </div> -->
    <div class="formDiv" *ngIf="callJson.loginPage">
      <h1 appHost >Welcome to RLVC</h1>
      <h3 >What you want to do ?</h3>
      <hr>
      <button class="btn btn-primary" (click)="callJson.loginPage = false; callJson.joinCall = true">Join a call</button>
      <hr>
      <button class="btn btn-primary" (click)="callJson.loginPage = false; callJson.makeCall = true">Make a call</button>
    </div>

    <div class="formDiv" *ngIf="callJson.makeCall">
      <h1 >Make a call</h1>
      <h3>Enter your name and make a call</h3>
      <input type="text" placeholder="name" #makeCallName (keyup.enter)="makeCall($event)">
      <button class="btn btn-primary" (click)="makeCall($event)">Make call</button>
      <h4 class="homeBtn" (click)="callJson.loginPage = true; callJson.makeCall = false">Main page</h4>
    </div>

    <div class="formDiv" *ngIf="callJson.joinCall">
      <h1>Join a call</h1>
      <h3>Enter your name and caller id</h3>
      <input type="text" placeholder="Name" #joinCallName>
      <input type="text" placeholder="Call id" #joinCallId (keyup.enter)="joinCall($event)">
      <button class="btn btn-primary" (click)="joinCall($event)" >Join Call</button>
      <h4 class="homeBtn" (click)="callJson.loginPage = true; callJson.joinCall = false">Main page</h4>
    </div>
  </div>