<div class="mainDiv">
    <!-- <div>
      <h3>Want to start calling</h3>
      <button class="btn btn-primary" routerLink="makeCall">Make a call</button>
    </div>
    <div>
      <h3>Have a calling ID</h3>
      <button class="btn btn-primary" routerLink="joinCall">Join a call</button>
    </div> -->
    <div class="formDiv">
      <h1>Welcome to RLVC</h1>
      <h3>What you want to do ?</h3>
      <hr>
      <button class="btn btn-primary" routerLink="joinCall">Join a call</button>
      <hr>
      <button class="btn btn-primary" routerLink="makeCall">Make a call</button>
    </div>
  </div>